server {
    listen unix:/run/sockets/nginx-main.sock ssl proxy_protocol;  # H2C server with PROXY protocol reception

    server_name $SERVER_NAME_VLESS_TCP;

    ssl_certificate /etc/nginx/ssl/$SERVER_NAME_VLESS_TCP.crt;
    ssl_certificate_key /etc/nginx/ssl/$SERVER_NAME_VLESS_TCP.key;

    include /nextcloud/nextcloud.conf;
}
