TZ=UTC

MARZNESHIN_USERNAME=sudo_admin
MARZNESHIN_PASSWORD=sudo_admin
MARZNESHIN_ADDRESS=https://sub.domain.tld:port

# Marzban Panel Settings
MARZBAN_XRAY_SUBSCRIPTION_PATH=sub
MARZBAN_USERS_DATA=data/marzban.json

# Export settings
SQLITE_PATH=/var/lib/marzban/db.sqlite3
MARZNESHIN_SQLITE_PATH=/var/lib/marzneshin/db.sqlite3
