# https://docs.marzneshin.org/docs/configuration/vpn-backends/xray/
XRAY_ENABLED=true
XRAY_EXECUTABLE_PATH=/usr/local/bin/xray
XRAY_CONFIG_PATH=/app/data/xray_config.json
XRAY_ASSETS_PATH=/app/data/xray
XRAY_RESTART_ON_FAILURE=true
XRAY_RESTART_ON_FAILURE_INTERVAL=3

# https://docs.marzneshin.org/docs/configuration/vpn-backends/sing-box/
SING_BOX_ENABLED=false
SING_BOX_EXECUTABLE_PATH=/usr/local/bin/sing-box
SING_BOX_CONFIG_PATH=/app/data/sing-box.json
SING_BOX_RESTART_ON_FAILURE=true
SING_BOX_RESTART_ON_FAILURE_INTERVAL=3

# https://docs.marzneshin.org/docs/configuration/vpn-backends/hysteria/
HYSTERIA_EXECUTABLE_PATH=/usr/local/bin/hysteria
SSL_CLIENT_CERT_FILE=/app/data/client.pem
SSL_KEY_FILE=/app/data/server.key
SSL_CERT_FILE=/app/data/server.cert
