SERVER_NAME_HTTPS=wg.domain.tld
SERVER_NAME_HYSTERIA2=h2.wg.domain.tld
SERVER_NAME_VMESS_GRPC=vmg.wg.domain.tld
SERVER_NAME_VLESS_GRPC=vlg.wg.domain.tld
SERVER_NAME_VLESS_XHTTP=vlht.wg.domain.tld
SERVER_NAME_VLESS_TCP=vlt.wg.domain.tld
SERVER_NAME_TROJAN_TCP=tt.wg.domain.tld
SERVER_NAME_TROJAN_GRPC=tg.wg.domain.tld
SERVER_NAMES=$SERVER_NAME_HTTPS $SERVER_NAME_HYSTERIA2 $SERVER_NAME_VMESS_GRPC $SERVER_NAME_VLESS_GRPC $SERVER_NAME_VLESS_XHTTP $SERVER_NAME_VLESS_TCP $SERVER_NAME_TROJAN_TCP $SERVER_NAME_TROJAN_GRPC
